@import url('../main/style.css');

main {
    margin-top: 140px;
    height: 100%;
}

/* Header */

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #29323c, #485563);
    display: flex;
    justify-content: space-between;
    color: #fff;
    z-index: 2;
    position: fixed;
}

.site-logo {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.site-logo h1 {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.site-logo p {
    margin: 0;
    padding: 0;
}

.header-heading {
    padding-bottom: 20px;
    margin-left: -20px;
}

.header-heading p {
    padding-left: 4px;
}

.logo-header {
    display: flex;
    align-items: center;
}


.logo-header img {
    margin-top: 4px;
    height: 120px;
    width: 120px;
}

.shopping-cart {
    position: relative;
    margin-top: 15px;
}

#cart-item {
    display: flex;
    justify-content: flex-end;
}

#cart-item > .fa {
    font-size: 60;
    cursor: pointer;
    padding-right: 80px;
}

/* Delivery form */

.delivery-form {
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 650px;
    font-size: 20px;
    border-radius: 20px;
}

input {
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
}

input:invalid {
    border: red solid 1px;
}

.form-wrap {
    margin: 0px auto;
}

form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

.present-wrap {
    display: flex;
}

.name-wrap {
    display: flex;
}

.fname-wrap, .lname-wrap, .street-wrap, .house-wrap, .flat-wrap {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fname-wrap label,
.lname-wrap label,
.date-wrap label,
.street-wrap label,
.house-wrap label,
.flat-wrap label {
    padding-bottom: 10px;
}

.date-wrap {
    display: flex;
    flex-direction: column;
}

.date-wrap input {
    width: 300px;
    color: #756573;
}

.address-wrap {
    display: flex;
    margin-top: 20px;
}

.payment-wrap p {
    text-align: center;
    margin: 0;
}

.payment-input {
    display: flex;
}

.radio-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.present-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#form-submit {
    border: 1px solid red;
    font-family: 'Dosis', sans-serif;
}




